*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    overflow-x: hidden;
    color: #03DAC5;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #121212;
}

header
{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../images/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

section
{
    margin: auto;
    padding: auto;
}

.clearfix:after
{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}

.row
{
    max-width: 1180px;
    margin: 0 auto;
}

.logo
{
    height: 120px;
    width: auto;
    float: left;
    /*margin-top: 20px;*/
}

.main_nav
{
    margin-top: 60px;
    float: right;
}

.main_nav li
{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}

.main_nav li a
{
    color: #03DAC5;
    text-decoration: none;
    font-size: 90%;
    font-weight: 100;
    padding: 5px 0;
}

.main_nav li a:hover
{
    border-bottom: 2px solid #03DAC5;
}

.main-content-header
{
    width: 1180px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
}

h1
{
    color: aliceblue;
    font-size: 240%;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom: 200px;
    font-weight: lighter;
}

h2
{
    color: aliceblue;
    font-size: 240%;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom: 30px;
    font-weight: lighter;
}

h3
{
    color: aliceblue;
    font-size: 100%;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin: 50px;
    font-weight: lighter;
}

.btn
{
    display: inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full
{
    background-color: transparent;
    color: #03DAC5;
    margin-right: 15px;
    border: 1px solid #03DAC5;
}

.btn-full:hover
{
    background-color: #BB86FC;
}

.btn-nav
{
    background-color: transparent;
    color: #03DAC5;
    margin-right: 15px;
    border: 1px solid #BB86FC;
}

.btn-nav:hover
{
    background-color: #BB86FC;
}

.about
{
    color: black;
    text-decoration: none;
    font-size: 200%;
    font-weight: 100;
    text-align: center;
    margin: 30px;
}
.aboutImg
{
    height: 500px;
    width: auto;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}

.test
{
    color: #fff;
    text-decoration: none;
    font-size: 200%;
    font-weight: 100;
    text-align: center;
    margin: 10px;
}
.test h5{
    text-align: left;
    margin: 30px;
    padding-left: 10%;
}

#ravi{background-color: #404040;
      text-align: left;
    padding-left: 10%;}


.contact
{
    color: #fff;
    text-decoration: none;
    font-size: 200%;
    font-weight: 100;
    text-align: center;
    margin: 30px;
}

.colorchange
{
    animation: colorchange1 1s infinite;
}

footer
{
    background-color: #BB86FC;
    margin-top: -100px;
    position: relative;
    clear: both;

}

@keyframes colorchange1
{
    0%{color: red;}
    25%{color: #BB86FC;}
    50%{color: white;}
    100%{color: #BB86FC;}
}

.mobile-icon{ display: none;}

/* Responsive Queries*/

@media only screen and (max-width: 1180px)
{
    .main-content-header
    {
        width: 100%;
        padding: 0 2%;
    }
}

@media only screen and (max-width: 998px)
{
    h1{ font-size: 200%; }
    h2{font-size: 190%; }
    h3{font-size: 80%; }   
    test{font-size: 170%; }
    
}

@media only screen and (max-width: 768px)
{
    h1{ font-size: 180%; }
    h2{font-size: 180%; }
    h3{font-size: 60%; }
    test{font-size: 150%; }

    .main_nav{ display: none;}

    .main_nav li{
        display: block;
        margin-top: 10px;
        margin-right: 5px;
    } 

    .mobile-icon{
        display: inline-block;
        color: white;
        margin-top: 30px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 480px)
{
    .btn-full{
        margin-bottom: 20px;
    }

    h1{font-size: 160%;}
    h2{font-size: 160%; }
    h3{font-size: 55%; }
    test{font-size: 120%; }
}

.img__wrap {
    position: relative;
    display: inline-block;
  }
  
  .img__description {
    position: absolute;
    width: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(133, 29, 154, 0.72);
    color: #fff;
    opacity: 0;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
  }

  .img__img
  {
      height: 300px;
  }
  .column {
    float: left;
    width: 40%;
    padding: 2%;
    margin: 2%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }